</div>

<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Special Thanks!</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="https://www.linkedin.com/in/brooklyn-child-a99042180/" target="_blank">Brooklyn
                                    Child</a></li>
                            <li><a href="/" target="_blank">Jordan Yazzie</a></li>
                            <li><a href="/" target="_blank">Skyler Willden</a></li>
                            <li><a href="https://www.linkedin.com/in/brenden-morris-565a3016a/" target="_blank">Brenden
                                    Morris</a></li>
                            <li><a href="https://www.linkedin.com/in/matthewkyoung/" target="_blank">Matthew Young</a>
                            </li>
                            <li><a href="https://www.weber.edu/webux" target="_blank">Weber State WebUX</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->

                </div>
                <div class="col-md-3">
                    <h4>Follow Us</h4>

                    <a href="/" class="socialIcon" target="_blank" title="instaGram"><i
                            class="fab fa-instagram"></i></a>
                    <a href="/" class="socialIcon" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="/" class="socialIcon" target="_blank" title="github"><i class="fab fa-github"></i></a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <p class="text-center">&copy; Copyright 2020 - People in this class blah blah blah. All rights
                        reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
</body>

</html>